body {
  font-family: 'Raleway', sans-serif;
  color: black
}
button {
  background-color: #FFCC00;
  color: white;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border-radius: 40px;
  width: 20vw
}
.navbar {
  background-color: #609;
  padding: 1em;
  color: white
}
.navbar a{
  color: white;
  text-decoration: none
}
.entryPointForm{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40vw
}
.entryPointForm input {
  border: 1px solid #609;
  margin: 1rem;
  padding: 1rem;
}
.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40vw;
  margin: auto;
  margin-top: 4vh;
  padding: 4rem;
  border: 4px solid #609;
}
.assessmentCompletion{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40vw;
  margin: auto;
  margin-top: 4vh;
  padding: 4rem;
  border: 4px solid #609;
}
.assessmentQuestions{
  margin: auto;
  margin-top: 6rem;
  width: 30vw;
  text-align: center;
}
.assessmentQuestionInputs{
  display: flex;
  justify-content: space-around;
  padding: 1rem
}
.eachAssessmentQuestion{
  font-size: 1.5rem
}
.privacyPolicy h3{
  text-align: center;
  margin-top: 10rem;
}
.privacyPolicy a{
  color: black;
  clear: both;
}
